<div class="jumbotron">
  <p class="lead">
    <img src="images/joe.png" alt="I'm Joe"><br>
    <h1>JoJoJoJo</h1>
    Say hi to all of your fans, Joe!
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>HTML5</h4>
  <p>
    Go!
  </p>
<p>{{2+2}}</p>
<div ng-controller='Mine'>
  <h4>Angular Travel</h4>
  {{speed}} {{vehicle}} <hr>

  {{speed + '' + vehicle}} <hr>

 <a ng-click="setValues('Fast', newVehicle)">Click to change to Fast {{newVehicle}}</a> <hr>
  
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

</div>



  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>
