<p>This is the welcome view.</p> <br> <hr>


<!-- Interacting with the scope in Expressions -->

<div ng-controller='Mine'>
  <h4>Angular Travel</h4> <br>
  {{speed}} {{vehicle}} <hr>

 <a ng-click="setValues('Fast', newVehicle)">Click to change to Fast {{newVehicle}}</a> <hr>


<!-- Javascript Expressions -->

 <div ng-controller ="Moss">
 	<h1>Expressions</h1>
 	Array: <br>
 	{{myArr}} <hr>

 	
 	<a ng-click = "myArr.push(Math.floor(Math.random()*100 + 1))">Click to append array</a>
 </div> <br><hr>

<!-- Currency Filter -->

 <div ng-controller ="Mickey">

 	{{1111123.56| currency}}

 </div>

 <!-- json filtering -->
 <hr>
 <br>
 <br>
 <br>
 <br>



 <!-- Start Prog UI -->

<div class="checkoutWrap">
  <ul class="checkoutBar" ng-controller="barController">

    <li class="visited first">
      <a href="#">Order Placed</a>
    </li>

    <li class="previous visited">Restaurant Notified</li>

    <li class="active">Driver Sent To Restaurant</li>

    <li class="next">Food Picked Up</li>

    <li class="">Delivery</li>

  </ul>
</div>

<br>
<br>
<br>
<br>
<br>

<div class="lead">
  <p>Your Order is being brought by<h5>Patrick</h5></p>
  <p>
    <img src="images/z.png" alt="zebyoulawn"><br>
  </p>

  <h3>Estimated time to delivery</h3>
  <h1>12 minutes</h1>
  
</div>  

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

    <!-- End Prog UI -->




    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>


 